/* GLOBAL STYLE RESET */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans", sans-serif;
}

/*  */

.tags-category-container {
  width: 100%;
  height: 58px;
  border: 1px solid #707070;

  display: flex;
  justify-content: left;
  align-items: center;

  overflow: hidden;
}

.tags-category {
  position: relative;
  z-index: 10;
  min-width: 330px;
  width: 330px;
  height: 58px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.tags-category-all ul {
  white-space: nowrap;
  animation: movingSide 22s infinite linear;
}

@keyframes movingSide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.tags-category-all ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  gap: 98px;
}

.directory-route {
  margin-top: 28.5px;
}

.directory-route span {
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  color: #5c95f0;
  letter-spacing: 0.63px;
}

.directory-route span:last-child {
  color: #000;
}

.directory-route .arrow-directory {
  color: #000;
}

.blog-title {
  width: 868px;
  font-size: 38px;
  font-weight: bold;
  text-align: left;
  line-height: 60px;
  letter-spacing: 0;
}

.blog-sub-title {
  display: flex;
  align-items: flex-end;
  margin: 32px 0px 50px 0px;
  height: 34px;
}

.blog-decoration {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-left: 29px;
}

.blog-decoration .circle-decoration {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #707070;
}

.blog-tags a {
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}

.blog-tags a li {
  width: 97px;
  height: 27px;
  background-color: #005bac;
  border-radius: 13px;

  margin-right: 11px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-image {
  width: 983px;
  height: 613px;
  border-radius: 20px;
  background-color: #ebeded;
  margin-bottom: 57.5px;
}

.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.blog-content {
}

.blog-content-text {
  min-width: 300px;
  max-width: 983px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  line-height: 40px;
  margin-bottom: 60.5px;
}

.blog-content-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 84px;
}

.blog-content-btn button {
  width: 618px;
  height: 69px;
  background-color: #e6001a;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 29px;
  font-size: 24px;
  color: #fff;
  letter-spacing: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: all 0.2s;
}

.blog-content-btn button:hover,
.related-content-btn:hover,
.related-blog-container-grid article:hover,
.before-footer-tags a div:hover,
.before-footer-btns:hover {
  scale: 95%;
}

.blog-content-video {
  width: 840px;
  height: 459px;
  border-radius: 10px;
  background-color: #00000029;
  margin-bottom: 156px;
}

.aside-content,
.empty-aside-content {
  margin-top: 123px;
  width: 377px;
}

.empty-aside-content {
  display: none;
}

.empty-aside-content-display {
  display: block;
}

.sticky {
  position: fixed;
  right: 50px;
  margin-top: 0;
  top: 0;
  z-index: 1;
}

.aside-content img {
  width: 377px;
  height: 211px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 32px;
  box-shadow: 0px 3px 29px #00000029;
}

.related-blog-container {
  width: 100%;
  height: 1859px;
  background-color: #ebeded;
  display: flex;
  justify-content: center;
  align-items: first baseline;
}

.related-blog-container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 53px;
  row-gap: 65px;
  width: 979px;
  padding-top: 33px;
}

.related-blog-container-grid article {
  width: 463px;
  height: 479px;
  box-shadow: 0px 3px 29px #00000029;
  border-radius: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.article-image {
  width: 100%;
  height: 329px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  object-position: center;
  background-color: #fff;
}

.article-content {
  width: 100%;
  height: 150px;
  border-radius: 0px 0px 10px 10px;
  background-color: #005bac;
  padding: 20px 42px 16px 24px;
}

.article-content-text {
  width: 397px;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.85px;
  position: relative;
}

.article-content-text:after {
  position: absolute;
  content: "";
  bottom: -19.7px;
  left: 0;
  width: 100%;
  border: 1px solid #ffffff;
}

.article-content-tags button {
  width: 93px;
  height: 26px;
  border-radius: 11px;
  background-color: #fff;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.63px;
  text-align: center;
  margin-top: 35px;
  margin-right: 12px;
}

.related-content-btn {
  width: 437px;
  height: 63px;
  background-color: #005bac;
  border-radius: 32px;
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 52px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.44px;
  text-align: center;

  transition: all 0.2s;
}

.before-footer-container {
  grid-column: 1 / span 2;
}

.before-footer-text {
  letter-spacing: 0.94px;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 36px;
  text-align: left;
}

.before-footer-tags a {
  display: inline-block;
  margin-right: 18px;
}

.before-footer-tags a div {
  width: 131px;
  min-width: 131px;
  height: 42px;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: all 0.2s;
}

.before-footer-btns-container {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 60px;
  margin-top: 69px;
}

.before-footer-btns {
  text-align: center;
  background-color: #e6001a;
  width: 518px;
  height: 69px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 35px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  margin-left: 19px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.btns2 {
  background-color: #005bac;
  width: 363px;
}

@media only screen and (max-width: 500px) {
  .tags-category-container {
    display: none;
  }

  .directory-route {
    display: none;
  }

  .aside-content {
    display: none;
  }

  .blog-content {
    max-width: 500px;
    width: 500px;
    min-width: auto;
  }

  .main-desktop-design {
    display: none;
  }

  .main-sf-design {
    display: block;
  }

  .sf-blog-post {
    width: 100%;
    height: 442px;
  }

  .sf-blog-post-image {
    width: 100%;
    height: 274px;
  }

  .sf-blog-post-content {
    height: 168px;
    width: 100%;
    min-width: 390px;
    background-color: #000;
    padding: 18px 30px 16px 30px;
    color: #fff;
    font-size: 22px;
    letter-spacing: 0.99px;
    text-align: left;
    line-height: 26px;
    position: relative;
    font-weight: bold;
  }

  .sf-blog-post-content:before {
    position: absolute;
    content: "";
    width: calc(100% - 60px);
    border: 1px solid #fff;
    top: 112px;
    left: auto;
  }

  .sf-blog-post-tags {
    position: absolute;
    bottom: 16px;
    left: 30px;
    font-size: 0;
    height: 23px;
  }

  .sf-blog-post-tags_tags {
    display: inline-block;
    width: 71px;
    height: 23px;
    background-color: #fff;
    border-radius: 12px;
    margin-right: 10px;
    text-align: center;
    line-height: 23px;
    color: #000;
    font-size: 14px;
    white-space: nowrap;
  }

  .share-content {
    font-size: 16px;
    line-height: 35px;
    margin: 24px auto;
    text-align: center;
    font-weight: bold;
  }

  .social-media-icons {
    margin: 0 auto;
    width: 330px;
    height: 38px;
    background-color: #707070;
  }

  .social-media-icons-icon {
  }

  .blog-content-btn button {
    margin: 40px auto;
    width: 330px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0px;
    text-align: center;
    line-height: 38px;
    border-radius: 20px;
  }
}
